@font-face {
   font-family: 'HankRnd-Regular';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-03_132211/fonts/HankRnd-Regular/font.ttf');
}
